.books {

    &__body {
        max-width: 1200px;
        margin: 0px auto;
        @include adaptiveValue("gap", 30, 15, 1920, 767);
        display: grid;
        grid-template-columns: 4fr 1fr;

        @media (max-width:$mobile) {
            display: block;
        }
    }

    // .books__content
    &__content {}

    // .books__filter
    &__filter {
        min-height: 100%;
    }
}

.container {}

.content-books {

    // .content-books__title
    &__title {}

    // .content-books__sort
    &__sort {
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        align-items: end;
        gap: 15px;
        justify-content: space-between;
    }

    // .content-books__select
    &__select {
        background-color: #fff;
        outline: none;
        padding: 10px;
        font-weight: bold;
        border-radius: 5px;
        position: relative;
        background-image: url("/img/icons/short-arrow.svg");
        background-repeat: no-repeat;
        background-position: right 0.7rem top 50%;
        background-size: 0.65rem auto;
        margin-top: 10px;

        @media (max-width:$mobileSmall) {
            font-size: rem(13);
        }

        option {
            font-weight: bold;

            @media (any-hover: hover) {
                &:hover {
                    background-color: $mainColor;
                }
            }
        }
    }

    // .content-books__cards
    &__cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    // .content-books__item
    &__item {}
}

.breadcrumbs {}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.block-title {}

.select {}

.item-books {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative;

    &.audio {
        &::after {
            content: '';
            position: absolute;
            right: 15px;
            top: 15px;
            width: 30px;
            height: 30px;
            background: url('../img/icons/advantages/headphones-blue.svg') 0 0 no-repeat;
        }
    }

    // .item-books__img
    &__img {
        img {
            max-width: 120px;
            border-radius: 5px;
        }
    }

    // .item-books__info
    &__info {}

    // .item-books__name
    &__name {
        font-weight: 600;
        @include adaptiveValue("font-size", 22, 18);
        color: #000;
    }

    // .item-books__author
    &__author {
        color: $mainColor;
        margin-bottom: 10px;
    }

    // .item-books__rating
    &__rating {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        margin-bottom: 10px;

        svg {
            width: 15px;
        }
    }

    &__grade {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        font-size: rem(14);
        color: #000;
    }

    // .item-books__payment
    &__payment {
        font-weight: bold;
        color: $mainColor;
        @include adaptiveValue("font-size", 14, 12);
    }

    // .item-books__about
    &__about {
        p {
            color: #414141;
            @include adaptiveValue("font-size", 14, 12);
        }
    }
}


.filter-button {
    @media (min-width:$mobile) {
        display: none;
    }
}

.filter-books {
    @media (max-width:$mobile) {
        position: fixed;
        right: -100%;
        top: 0;
        width: 70%;
        height: 100%;
        background-color: $hover;
        display: flex;
        align-items: start;
        transition: right 0.3s ease 0s;
        overflow: auto;

        &.open {
            right: 0;
        }

        .close-button {
            @media (max-width:$mobile) {
                position: absolute;
                right: 30px;
                top: 90px;
                width: 30px;
                height: 30px;
                background: url('../img/icons/close.svg') 0 0 no-repeat;
            }

        }
    }

    &__title {
        font-weight: bold;
        @include adaptiveValue("font-size", 16, 14);
        margin-bottom: 20px;

        @media (max-width:$mobile) {
            color: #fff;
            text-align: right;
            font-size: rem(20);
        }
    }

    &__body {
        position: sticky;
        top: 150px;

        @media (max-width:$mobile) {
            padding: 30px;
            width: 100%;
            position: static;
            padding-top: 140px;
        }

        @media (max-width:$mobileSmall) {
            padding: 15px;
            padding-top: 140px;
        }
    }

    // .filter-books__item
    &__item {
        background-color: #fff;
        border-radius: 15px;
        overflow: hidden;

        &:not(:last-child) {
            margin-bottom: rem(20);
        }


        svg {
            width: 15px;
            transition: all 0.3s ease 0s;
        }
    }

    // .filter-books__button
    &__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        height: auto;

        &.active {
            svg {
                transform: rotate(-180deg);
            }
        }
    }



    // .filter-books__panel
    &__panel {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0;
    }


    // .filter-books__variant
    &__variant {
        text-align-last: left;
        padding: 10px 15px;

        &._active {
            background-color: $mainColor;
            color: #fff;
        }

        &:not(._active) {
            @media (any-hover: hover) {
                &:hover {
                    background-color: #eee;
                }
            }
        }

        &:not(:last-child) {
            border-bottom: 1px solid #eee;

        }

        &:last-child {
            padding-bottom: 10px;
        }

        width: 100%;
    }
}

.accordion {}

.panel {}